<div class="component-creation-wrapper md-whiteframe-5dp" layout="row">
    <md-button ng-if="Component.initStep === 0" flex="100" class="init-component-btn" layout="row" layout-align="center center" ng-click="Component.initNew()">
        <i class="material-icons">add</i>
    </md-button>
    <div ng-if="Component.initStep === 1" layout="row" layout-align="space-around center" class="component-type-selection" flex>
        <md-button class="md-primary component-type" ng-repeat="type in Component.types" layout="column" layout-align="center center" flex ng-click="Component.selectType(type)">
            <i class="material-icons">{{type.icon}}</i>
            <span>{{type.label}}</span>
        </md-button>
    </div>
    <div ng-if="Component.initStep === 2" layout="column" layout-align="center stretch" flex>
        <div layout="row" layout-align="center center" flex>
            <md-input-container flex="50">
                <label>Choisissez un flux</label>
                <md-select ng-model="Component.componentStream">
                    <md-option ng-repeat="stream in Component.streams" ng-value="stream">
                        {{stream.label}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-align="end">
            <md-button class="md-warn" ng-click="Component.cancel()">Annuler</md-button>
            <md-button class="md-primary" ng-disabled="!Component.componentStream.id" ng-click="Component.selectStream()">Suivant</md-button>
        </div>
    </div>
    <div ng-if="Component.initStep === 3" flex ng-switch="Component.componentType">
        <line-chart-component ng-switch-when="LineChart" chart-config="Component.chartConfig" config-created="Component.configCreated(config)" cancel="Component.cancel()" sensors="Component.sensors"></line-chart-component>
        <map-chart-component ng-switch-when="MapChart" chart-config="Component.chartConfig" config-created="Component.configCreated(config)" cancel="Component.cancel()"></map-chart-component>
    </div>
    <div ng-if="Component.initStep === 4" layout="column" layout-align="center stretch" flex>
        <div layout="row" layout-align="center center" flex>
            <md-input-container flex="50">
                <label>Nom de la visualisation</label>
                <input type="text" ng-model="Component.componentName">
            </md-input-container>
        </div>
        <div layout="row" layout-align="end">
            <md-button class="md-warn" ng-click="Component.cancel()">Annuler</md-button>
            <md-button class="md-primary" ng-disabled="!Component.componentName" ng-click="Component.displayWidget()">Afficher</md-button>
        </div>
    </div>
</div>