component-creation {
  .component-creation-wrapper {
    height: 260px;
    i.material-icons {
      font-size: 50pt;
    }
    .init-component-btn {
      margin: 0;
      i.material-icons {
        color: lightgrey;
      }
    }
  }
}