<div class="widget-container md-whiteframe-5dp">
    <div class="widget-header" layout="row" layout-align="center center">
        <span flex>
            {{widgetName}}
        </span>
        <span>
            <md-tooltip md-direction="top">Modifier les paramètres</md-tooltip>
            <i class="material-icons" ng-click="modifyWidget({widgetId: widgetId})">settings</i>
        </span>
        <span>
            <md-tooltip md-direction="top">Supprimer la visualisation</md-tooltip>
            <i class="material-icons" ng-click="deleteConfirm = true">close</i>
        </span>
    </div>
    <div ng-hide="deleteConfirm">
        <line-chart-widget ng-if="widgetConfig.type === 'LineChart'" latest-entry="latestEntry" widget-config="widgetConfig"></line-chart-widget>
        <map-chart-widget ng-if="widgetConfig.type === 'MapChart'" latest-entry="latestEntry" widget-config="widgetConfig" sensors="sensors" widget-id="widgetId"></map-chart-widget>
    </div>
    <div class="close-confirm" ng-show="deleteConfirm" layout="column" layout-align="center stretch">
        <h4 layout="row" layout-align="center">Êtes-vous sûr de vouloir supprimer cette visualisation ?</h4>
        <div layout="row" layout-align="space-around center">
            <md-button class="md-warn" ng-click="deleteConfirm = false">
                Annuler
            </md-button>
            <md-button class="md-raised md-primary" ng-click="deleteWidget({widgetId: widgetId})">
                Supprimer
            </md-button>
        </div>
    </div>
</div>