<div layout="column" layout-align="center stretch">
    <div flex layout="column" layout-align="center stretch">
        <div layout="row" layout-align="center">
            <md-input-container flex="50">
                <label>Métrique</label>
                <md-select ng-model="Map.unit">
                    <md-option ng-repeat="unit in Map.units" ng-value="unit">
                        {{unit.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center">
            <md-input-container flex="50">
                <label>Couleur des noeuds</label>
                <md-select ng-model="Map.color">
                    <md-option ng-repeat="metric in Map.availableMetrics" ng-value="metric">
                        {{metric}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center">
            <md-input-container flex="50">
                <label>Taille des noeuds</label>
                <md-select ng-model="Map.size">
                    <md-option ng-repeat="metric in Map.availableMetrics" ng-value="metric">
                        {{metric}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>

    <div layout="row" layout-align="end">
        <md-button class="md-warn" ng-click="Map.cancel()">Annuler</md-button>
        <md-button class="md-primary" ng-disabled="!Map.color || !Map.size || !Map.unit" ng-click="Map.selectMetrics()">Suivant</md-button>
    </div>
</div>