line-chart-widget {
  .widget-container {
    height: 330px;

    .widget-name {
      color: white;
      background-color: #ED6A5A;
      padding: 15px;
    }

    .graph-container{
      margin-top: 10px;

      .last-values {
        background-color: white;
      }

      .axis {
        stroke-width: 1;
      }

      .axis .tick line {
        stroke: black;
      }

      .axis .tick text {
        fill: black;
        font-size: 0.7em;
      }

      .axis .domain {
        fill: none;
        stroke: black;
      }

      .serie {
        fill: none;
        stroke: black;
        &.dotted {
          stroke-dasharray: 3;
        }
      }
    }
  }
}