line-chart-widget {
  .widget-container {
    height: 260px;

    .widget-name {
      color: white;
      background-color: #06B2F5;
      padding: 15px;
    }

    .graph-container{
      margin-top: 10px;
      .axis {
        stroke-width: 1;
      }

      .axis .tick line {
        stroke: black;
      }

      .axis .tick text {
        fill: black;
        font-size: 0.7em;
      }

      .axis .domain {
        fill: none;
        stroke: black;
      }

      .serie {
        fill: none;
        stroke: black;
        stroke-width: 1.5;
      }
    }
  }
}