plot{
  display: block;
  margin-bottom: 30px;
  width: 100%;
  svg{
    overflow: visible;
    .axis{
      path{
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      text{
        fill: grey;
        font-size:small;
      }
    }
    text.sector-name{
      font-weight: bold;
      fill: grey;
    }
  }
}